@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: Atari;
  src: url("assets/fonts/AtariClassicChunky-PxXP.ttf") format("truetype");
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
